.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #0ccac4;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.24s ease;
}
.card-container:hover {
    transform: scale(1.04)
}

h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}