.App {
    min-height: 100px;
    padding-bottom: 50px;
}
.title {
    font-family: 'Bigelow Rules', cursive;
    font-size: 70px;
    color: #0ccac4;
    text-align: center;
    margin-bottom: 30px;
}